@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Global styles */
:root {
  --blue: #0d6efd;
  --white: #ffffff;
  --green: #abd373;
  --text-header: #525252;
  --hover-gray: #525252;
  --text-banner: #2d2d2d;
  --text-section-header: #393939;
  --text-testimonial: #434343;
  --background-blog: #f6f7fb;
  --background-sidebar: #f6f7fb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* General */
.mb-35 {
  margin-bottom: 35px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mt-30 {
  margin-top: 30px;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}
/* General */

/* Sidebar menu */
#check {
  display: none;
}

.checkbtn {
  display: none;
}

.sidebar-menu {
  display: none;
}
/* Sidebar menu */

/* Toast */
#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.toast {
  background-color: #fff;
  color: #333;
  padding: 12px 18px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  min-width: 240px;
  font-size: 14px;
  animation: slideIn 0.4s ease forwards;
}

.toast i {
  margin-right: 10px;
  font-size: 18px;
  color: var(--green);
}

.toast i.bi-trash-fill {
  color: #ff0000;
}

.toast i.bi-check-circle-fill {
  color: #00ff00;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Toast */

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
.modal-content {
  margin: auto;
  width: 100%;
}

.modal-content .modal-header {
  padding: 16px;
}

/* The Close Button */
.modal-header .close {
  color: #aaaaaa;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 32px;
  padding: 16px;
}

.modal-header .close:hover,
.modal-header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body .searchbox-info {
  margin-bottom: 30px;
  font-size: 20px;
  display: block;
  letter-spacing: 0.5px;
  text-align: center;
}

.hm-searchbox {
  position: relative;
  width: 800px;
}

.hm-searchbox input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  height: 100px;
  line-height: 100px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-right: 55px;
  font-weight: 300;
  outline: none;
}

.hm-searchbox input::placeholder {
  color: #ffffff;
}

.hm-searchbox .search-btn {
  position: absolute;
  font-size: 30px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  color: #ffffff;
  padding: 0;
}

.modal-open {
  overflow: hidden;
}
/* The Modal */

/* Product modal */
.product-modal-wrapper {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.product-modal-content {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  padding: 24px;
  position: relative;
  border-radius: 6px;
  max-width: 1120px;
  margin: auto;
  padding: 32px;
}

.product-modal-header {
  padding: 16px 32px;
}

.product-modal-close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 30px;
  cursor: pointer;
}

.product-modal-body {
  padding: 32px;
}
/* Product modal */

/* Form element */
.group-input {
  display: flex;
  width: 100%;
}

.form-field:first-child {
  margin-right: 15px;
}

.form-field {
  width: 100%;
  margin-top: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 8px;
}

.form-field .input-field {
  padding: 0 20px;
  border: 1px solid #dee2e6;
  height: 50px;
  width: 100%;
  outline: none;
  background-color: transparent;
}

.form-field textarea {
  padding: 20px;
  border: 1px solid #dee2e6;
  width: 100%;
  outline: none;
  background-color: transparent;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 80%;
}

.nice-select {
  background-color: #fff;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: var(--green);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrap {
  margin-top: 20px;
}

.btn-custom-size {
  width: 165px;
  height: 50px;
  font-size: 16px;
  border-radius: 23.5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

/* Cart count form */
.cart-count-form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #505050;
  border-radius: 5px;
  overflow: hidden;
  width: max-content;
  height: 50px;
}

.cart-count-form .minus,
.cart-count-form .plus {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
}

.cart-count-form .minus:hover,
.cart-count-form .plus:hover {
  background-color: #505050;
  border-radius: 0;
}

.cart-count-form .counter {
  width: 50px;
  height: 36px;
  text-align: center;
  border: none;
  background-color: #505050;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-left: 1px solid #6a6a6a;
  border-right: 1px solid #6a6a6a;
}

.cart-count-form input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
/* Cart count form */
/* Form element */

/* Header */
header {
  width: 100%;
  background-color: #fff;
}

/* Header Top */
.header-top {
  background-color: var(--green);
  color: var(--white);
}

.header-top .content {
  max-width: 1300px;
  margin: auto;
  padding: 0px 8px;
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.header-top-left {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: 500;
}

.header-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 8px;
}

.dropdown .dropbtn {
  background-color: transparent;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  font-weight: 500;
}

.dropbtn .bi-chevron-down {
  font-size: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bolder;
}

.dropdown-content {
  opacity: 0;
  transition: opacity 0.3s ease;
  display: block;
  pointer-events: none;
  position: absolute;
  background-color: white;
  z-index: 1000;
  top: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  padding: 8px 0;
  width: 112px;
  height: auto;
  border-radius: 4px;
}

.dropdown-content.show {
  pointer-events: auto;
  display: block;
  opacity: 1;
  transform: translateY(15px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  z-index: 1;
  background-color: var(--white);
}

.dropdown-content a {
  color: var(--text-header);
  text-decoration: none;
  display: block;
  font-size: 14px;
  padding: 4px 32px;
}

.dropdown-content a:hover {
  background-color: var(--green);
  color: var(--white);
}

/* Header Middle */
.header-middle {
  padding: 30px 0;
  background-color: var(--white);
}

.header-middle .content {
  max-width: 1300px;
  margin: auto;
  padding: 0px 8px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middle-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  background: var(--green);
  color: var(--white);
  width: 44px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon .bi-telephone {
  font-size: 25px;
}

.header-middle-left p {
  font-size: 18px;
  color: var(--text-header);
}

.header-middle-left p:hover {
  color: var(--green);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.header-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icon .bi {
  font-size: 20px;
  cursor: pointer;
  color: var(--text-header);
}

.header-icon .bi:hover {
  color: var(--green);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.header-icon .dropdown .dropdown-content {
  width: 180px;
}

.header-icon .searchBtn {
  background-color: transparent;
  border: none;
}

.shopping-cart {
  position: relative;
  display: inline-block;
}

.shopping-cart .cart-count {
  position: absolute;
  top: -3px;
  right: -10px;
  background: var(--green);
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Header Bottom */
.header-bottom {
  border: 1px solid #eaeaea;
}

.header-bottom .content {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
  height: 100%;
}

.navbar .navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar .navbar-list li {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-header);
  text-transform: uppercase;
  padding-left: 40px;
}

.navbar .navbar-list li a {
  text-decoration: none;
  color: inherit;
}

.navbar .navbar-list li:hover {
  color: var(--green);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

/* Header Sticky */
.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 998;
  display: none;
  animation: slideDown 0.3s ease forwards;
}

/* Keyframe cho hiệu ứng trượt xuống */
@keyframes slideDown {
  from {
    top: -80px;
  }

  to {
    top: 0;
  }
}

.header-sticky .content {
  max-width: 1300px;
  margin: auto;
  padding: 20px 8px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
/* Header */

/* Offcanvas cart */
/* Overlay */
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  /* dưới offcanvas */
  display: none;
  transition: opacity 0.1s ease;
}

.offcanvas-overlay.show {
  display: block;
}
/* Overlay */

.offcanvas-cart {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 55px;
}

.offcanvas-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 25px 60px;
}

.offcanvas-cart-header .title {
  font-weight: 500;
  font-size: 24px;
}

.offcanvas-cart-header a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.offcanvas-cart-header a:hover {
  color: var(--green);
}

.offcanvas-cart-header .closebtn {
  font-size: 36px;
}

.offcanvas-cart-content {
  padding: 0 60px;
}

.offcanvas-cart-item {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.offcanvas-cart-item:last-child {
  border-bottom: none;
}

.offcanvas-cart-item img {
  width: 25%;
}

.offcanvas-cart-item .product-item-info {
  padding: 0 10px 0 0;
  margin-left: 20px;
}

.product-item-info .product-name {
  font-size: 16px;
  line-height: 1.4;
}

.product-item-info .product-quantity-price {
  padding-top: 10px;
  font-size: 13px;
  line-height: 24.7px;
}

.offcanvas-cart-item .remove-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: auto;
  right: 15px;
}

.offcanvas-cart-item .remove-btn:hover {
  color: var(--green);
}

.offcanvas-cart-summary {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 30px 0;
}

.offcanvas-cart-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 60px;
}

.offcanvas-btn {
  width: 100%;
  height: 40px;
  background-color: black;
  border: none;
  border-radius: 4px;
}

.offcanvas-btn a {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
}

.offcanvas-btn a:hover {
  background-color: var(--green);
  color: white;
}
/* Offcanvas cart */

/* General button */
.btn {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 32.5px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary {
  background-color: var(--green);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--hover-gray);
  color: var(--white);
}

.btn-primary:active {
  background-color: #3e3e3e;
  transform: scale(0.95);
}

.btn-primary:focus {
  outline: 3px solid rgba(40, 167, 69, 0.5);
}

.btn a {
  color: inherit;
  text-decoration: none;
}

/* Section title */
.section-title {
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  text-align: center;
  color: var(--text-section-title);
  font-size: 24px;
  line-height: 27px;
  padding: 0 90px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.section-title:before,
.section-title:after {
  background-color: var(--green);
  width: 70px;
  height: 2px;
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
}

.section-title:after {
  right: 0;
  left: auto;
}

/* Section description */
.section-desc {
  text-align: center;
  line-height: 31px;
  color: black;
  margin-bottom: 55px;
  max-width: 580px;
}

/* Breadcrumb */
.breadcrumb-area {
  background-image: url(./../assets/images/testimonial-bg.png);
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb-area .content {
  max-width: 1300px;
  margin: auto;
  padding: 0px 8px;
  width: 100%;
}

.breadcrumb-area .content .breadcrumb-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.breadcrumb-heading {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 8px;
}

.breadcrumb-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb-item ul li {
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
}

.breadcrumb-item ul li a {
  text-decoration: none;
  color: #000;
}

.breadcrumb-item ul li a:hover {
  color: var(--green);
}

.breadcrumb-item ul li:not(:last-child) a {
  position: relative;
  padding-right: 25px;
  margin-right: 10px;
}

.breadcrumb-item ul li:not(:last-child) a:before {
  background-color: #abd373;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Breadcrumb */

/* Shipping area section */
.shipping-area {
  padding: 100px 0 0 0;
}

.shipping-area .content {
  max-width: 1300px;
  margin: auto;
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.shipping-area .content .shipping-item {
  border-style: dashed;
  border-width: 1px;
  border-color: var(--green);
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.shipping-item .shipping-content {
  padding-left: 20px;
}

.shipping-content .title {
  margin-bottom: 4px;
}
/* Shipping area section */

/* Brand area */
.brand-area {
  padding-bottom: 100px;
}

.brand-area .content {
  background-image: url(./../assets/images/brand-bg.png);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1300px;
  margin: auto;
  padding: 90px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-item {
  width: 177px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: all 0.3s ease 0s;
}

.brand-item:hover {
  opacity: 1;
}

.brand-item img {
  max-width: 100%;
}
/* Brand area */

/* Product card */
.product-card {
  padding: 5px;
}

/* ----- Hiệu ứng đổi ảnh ----- */
.product-image {
  position: relative;
  overflow: hidden;
}

.primary-img {
  display: absolute;
  transition: opacity 0.3s ease-in-out;
}

.secondary-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product-image:hover .primary-img {
  opacity: 0;
}

.product-image:hover .secondary-img {
  opacity: 1;
}

/* ----- Hiệu ứng hiện .product-add-action từ trái sang phải ----- */
.product-add-action {
  position: absolute;
  bottom: 0px;
  left: -100%;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.product-image:hover .product-add-action {
  left: 0;
  opacity: 1;
}

/* ----- Căn chỉnh icon ----- */
.product-add-action ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.product-add-action .item-action {
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  color: var(--text-header);
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

.product-add-action .item-action:hover {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}

.product-add-action .item-action:hover a {
  color: var(--white);
}

.product-add-action .item-action a {
  color: inherit;
  text-decoration: none;
}

.product-add-action .item-action.active {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}

.product-add-action .item-action.active a {
  color: var(--white);
}

.product-content {
  padding-top: 10px;
}

.product-content .product-name {
  margin-bottom: 5px;
  color: black;
  font-size: 18px;
  display: block;
  text-decoration: none;
}

.product-content .product-name:hover {
  color: var(--green);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.product-content .price {
  padding-bottom: 5px;
}

.product-content .price span.new-price {
  color: var(--green);
  font-size: 20px;
}

.product-content .rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating .bi-star-fill {
  color: #ffe24d;
  font-size: 15px;
  cursor: pointer;
}

/* Footer */
footer {
  background-image: url(./../assets/images/footer-bg.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}

footer .content {
  max-width: 1300px;
  margin: auto;
  padding: 100px 0 60px 0;
}

footer .content .row {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  gap: 30px;
}

.footer-col-3 {
  width: 33.33%;
}

.footer-col-2 {
  width: 25%;
}

.padding-top-40-right-left-12 {
  padding: 40px 12px 0 12px;
}

.footer-widget-item .footer-widget-logo {
  padding-bottom: 35px;
}

.footer-widget-item .footer-widget-logo img {
  max-width: 100%;
}

.footer-widget-item .footer-widget-desc {
  margin-bottom: 35px;
  line-height: 27px;
  color: #000000;
}

.footer-widget-desc p {
  padding-top: 0;
  text-align: justify;
}

.footer-widget-social {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.footer-widget-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-widget-social ul li {
  display: inline-block;
  padding-right: 15px;
}

.footer-widget-social ul li a {
  color: #000000;
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer-widget-social ul li a:hover {
  background-color: var(--green);
  color: var(--white);
  border-color: var(--green);
  transition: all 0.3s ease 0s;
}

.footer-widget-item .footer-widget-title {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

.footer-widget-item .footer-widget-list-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-widget-item .footer-widget-list-item li {
  padding-bottom: 6px;
}

.footer-widget-item .footer-widget-list-item li a {
  text-decoration: none;
  color: #000000;
}

.footer-widget-item .footer-widget-list-item li a:hover {
  color: var(--green);
}

.footer-contact-info h3 {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 0px;
}

.footer-contact-info .number {
  color: #000000;
  font-size: 24px;
  line-height: 40px;
  display: block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.footer-contact-info .number:hover {
  color: var(--green);
}

.footer-contact-info .address {
  margin-bottom: 20px;
}

.footer-contact-info .address ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-contact-info .address ul li {
  color: black;
}

.footer-contact-info .address ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contact-info .payment-method {
  margin-top: 20px;
}

.footer-contact-info .payment-method img {
  max-width: 100%;
}
/* Footer */

/* Product detail */
.product-detail-wrapper {
  display: flex;
  width: 100%;
}

.product-detail-wrapper .product-detail-image,
.product-detail-wrapper .product-detail-content {
  width: 100%;
  padding: 0px 15px;
}

.product-detail-image img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.product-detail-image .product-detail-images-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.product-detail-images-list img {
  width: 130px;
  height: 145px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.product-detail-images-list .thumb-image {
  width: 130px;
  height: auto;
  margin: 5px;
  cursor: pointer;
  transition: border 0.2s ease;
  border: 1px solid #ccc;
}

.product-detail-images-list .thumb-image:hover {
  border: 1px solid var(--green);
}

.product-detail-content .product-name {
  color: #303030;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}

.product-detail-content .price-box {
  padding-bottom: 15px;
}

.product-detail-content .price-box .new-price {
  font-size: 30px;
  color: var(--green);
}

.product-detail-content .rating-box {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  color: #ffe24d;
  gap: 5px;
}

.product-detail-content .description {
  font-weight: 300;
  color: #000000;
  line-height: 31px;
  margin-bottom: 30px;
}

.selector-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.size-option {
  padding-bottom: 30px;
}

.selector-title {
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  height: 42px;
  line-height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  width: 20%;
  text-align: center;
}

.quantity-with-btn {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.add-to-cart-btn button {
  width: 165px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background-color: #525252;
  color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
}

.add-to-cart-btn button:hover {
  background-color: var(--green);
  border-color: var(--green);
  color: #ffffff;
}

.wishlist-btn-wrap {
  height: 50px;
  width: 50px;
  background-color: #525252;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

.wishlist-btn-wrap .add-to-wishlist {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.wishlist-btn-wrap .add-to-wishlist:hover {
  background-color: var(--green);
  border-color: var(--green);
  color: #ffffff;
}

.wishlist-btn-wrap .add-to-wishlist.active {
  background-color: var(--green);
  border-color: var(--green);
  color: #ffffff;
}

.service-item-wrap {
  display: flex;
  align-items: center;
  padding: 40px 0 35px 0;
  list-style: none;
}

.service-item-wrap .service-item {
  display: flex;
  align-items: center;
  border: 1px solid #dee2e6;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.service-item-wrap .service-item:not(:last-child) {
  margin-right: 30px;
}

.service-item-wrap .service-item .service-img img {
  width: 50px;
  height: 32px;
  margin-right: 20px;
}

.service-item-wrap .service-item .service-content .title {
  font-size: 15px;
  color: #303030;
  font-weight: 400;
  margin-bottom: 5px;
}