.product-detail-area {
    padding: 100px 0;
}

.product-detail-area .content {
    max-width: 1300px;
    margin: auto;
    padding: 0px 8px;
}

.product-detail-area .product-detail {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-detail-content .product-category {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.product-detail-content .product-category .title {
    margin-right: 10px;
    color: #5f5f5f;
    font-weight: 600;
    font-size: 16px;
}

.product-detail-content .product-category .category {
    color: #9f9e9e;
}

.product-detail-content .product-category .category:hover {
    color: var(--green);
}

.product-detail-content .product-tag {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.product-detail-content .product-tag .title {
    margin-right: 10px;
    color: #5f5f5f;
    font-weight: 600;
    font-size: 16px;
}

.product-detail-content .product-tag ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.product-tag ul li {
    margin-right: 5px;
}

.product-tag ul li a {
    color: #9f9e9e;
    text-decoration: none;
    font-size: 16px;
}

.product-tag ul li a:hover {
    color: var(--green);
}

.product-detail-content .social-share {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.product-detail-content .social-share .title {
    margin-right: 10px;
    color: #5f5f5f;
    font-weight: 600;
    font-size: 16px;
}

.social-share .social-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.social-share .social-list li {
    margin-right: 10px;
}

.social-share .social-list li a {
    color: #9f9e9e;
    text-decoration: none;
    font-size: 16px;
}

.social-share .social-list li a:hover {
    color: var(--green);
}

/* Product detail Area */

/* Product tab area */
.product-tab-area .content {
    max-width: 1300px;
    margin: auto;
    padding: 0px 8px;
}

.product-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-tab-wrapper {
    width: 100%;
}

.product-tab-wrapper .product-tab-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
}

.product-tab-wrapper .product-tab-nav .tab-item {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    font-size: 18px;
}

.product-tab-wrapper .product-tab-nav .tab-item.active {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.product-tab-content .tab-panel {
    display: none;
}

.product-tab-content .tab-panel.active {
    display: block;
}

.product-information-body .title {
    font-size: 24px;
    color: #303030;
    font-weight: 600;
    margin-bottom: 8px;
}

.product-information-body .short-desc,
.product-description-body .short-desc {
    margin-bottom: 24px;
    font-size: 16px;
    color: #303030;
    line-height: 30px;
}

.blog-comment {
    background-color: #f6f7fb;
    border-radius: 15px;
    padding: 60px 40px;
}

.blog-comment .heading {
    margin-bottom: 60px;
    line-height: 24px;
    font-weight: 600;
    font-size: 30px;
    color: #222121;
}

.blog-comment-item {
    display: flex;
}

.blog-comment-item[class*=blog-comment-item]:not(:last-child) {
    padding-bottom: 60px;
}

.blog-comment-item.relpy-item {
    padding-left: 60px;
}

.blog-comment-img {
    width: 120px;
}

.blog-comment-img img {
    width: 100%;
}

.blog-comment-content {
    width: calc(100% - 115px);
    margin-left: 30px;
}

.blog-comment-content .user-meta .user-name {
    color: #333333;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 5px;
}

.blog-comment-content .user-meta .date {
    color: #666666;
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}

.blog-comment-content .user-comment {
    margin-bottom: 20px;
    line-height: 30px;
}

.blog-comment-content .comment-btn {
    background-color: #343434;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    font-size: 14px;
    padding: 0;
    text-transform: uppercase;
    overflow: hidden;
}

.blog-comment-content .comment-btn:hover {
    background-color: var(--green);
    color: #ffffff;
    border-color: var(--green);
}

.feedback-area {
    background-color: #f6f7fb;
    border-radius: 15px;
    margin-top: 50px;
    padding: 60px 40px;
}

.feedback-area .heading {
    margin-bottom: 60px;
    line-height: 24px;
    font-size: 30px;
    font-weight: 600;
    color: #222121;
}
/* Product tab area */

/* Product category area */
.product-category-area {
    padding: 100px 0;
}

.product-category-area .content {
    max-width: 1300px;
    margin: auto;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#product-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}