/* Global styles */

:root {
  --blue: #0d6efd;
  --white: #ffffff;
  --green: #abd373;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* Start Header */

/* Start Header Top */
.header-top {
  background-color: var(--green);
  font-size: 14px;
  color: var(--white);
}

.header-top .content {
  max-width: 1300px;
  margin: auto;
  padding: 0px 25px;
  height: 52px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.header-top-left {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  /* padding: 16px; */
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .bi-chevron-down {
  font-size: 10px;
  margin-bottom: 4px;
}

.dropdown-content {
  display: none;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  z-index: 0;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  padding: 8px 0px;
  width: 112px;
  height: 58px;
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}


.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 14px;
  padding: 0.25rem 2rem;
}

.dropdown-content a:hover {
  background-color: var(--green);
}

.show {
  display: block;
  opacity: 1;
  transform: translate(-68px, 30px);
}

/* End Header Top */

/* Start Header Middle */

.header-middle {
  display: flex;
}

/* End Header Middle */

/* Start Header */