/* Extra Small Devices (Mobile, <576px) */
@media (max-width: 575.98px) {

    .shop-area .content {
        padding: 0 10px;
    }

    .sidebar-area {
        padding: 0 10px;
    }

    .shop-area .content .row {
        flex-direction: column-reverse;
    }

    .shop-area .content .row .col-9 {
        width: 100%;
        max-width: 100%;
    }

    .shop-area .content .row .col-3 {
        width: 100%;
        max-width: 100%;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-card.list-view .product-image {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .product-card.list-view .product-image .primary-img,
    .product-card.list-view .product-image .secondary-img {
        width: 100%;
    }

    .pagination-area {
        flex-wrap: wrap;
        padding: 30px 0;
    }

    .pagination-area .page-btn {
        margin: 4px;
    }
}

/* Small Devices (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium Devices (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .shop-area .content {
        padding: 0 40px;
    }

    .sidebar-area {
        padding: 0 40px;
    }

    .shop-area .content .row {
        flex-direction: column-reverse;
    }

    .shop-area .content .row .col-9 {
        width: 100%;
        max-width: 100%;
    }

    .shop-area .content .row .col-3 {
        width: 100%;
        max-width: 100%;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pagination-area {
        flex-wrap: wrap;
        padding: 30px 0;
    }

    .pagination-area .page-btn {
        margin: 4px;
    }
}

/* Large Devices (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .shop-area .content {
        padding: 0 40px;
    }

    .sidebar-area {
        padding: 0 40px;
    }

    .shop-area .content .row {
        flex-direction: column-reverse;
    }

    .shop-area .content .row .col-9 {
        width: 100%;
        max-width: 100%;
    }

    .shop-area .content .row .col-3 {
        width: 100%;
        max-width: 100%;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pagination-area {
        flex-wrap: wrap;
        padding: 30px 0;
    }

    .pagination-area .page-btn {
        margin: 4px;
    }
}

/* Extra Large Devices (≥1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Extra Extra Large Devices (≥1400px) */
@media (min-width: 1400px) {}